# ------
# Aptana/Eclipse
# ------
.metadata
.project
.pydevproject
.settings

# ------
# Viewer
# ------
# Donnees du viewer
viewer/data/*
!viewer/data/.empty
# Fichier de config du viewer
viewer/config.json


# ------
# Viewer
# ------
# Virtual env
editor/apps

# Python files
*.py[cod]
